*{
	margin: 0;
	padding: 0;
}

body{
	padding: 0 10px;
	font-family: 'Arial', sans-serif;
}

.wrap {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 100px;

}

.header {
	margin-bottom: 30px;
	padding-top: 40px;
}

.header_list {
	padding-top: 10px;
	float: left;
	font-size: 0;
	list-style: none;
}

.logo {
	margin-bottom: 10px;
	width: 116px;
}

.header_item_list {
	color: grey;
	font-weight: bold;
	font-size: 18px;
	display: inline;
	margin-right: 30px;
}

.header_item_list a {
	color: gray;
	text-decoration: none;	
}

.header_item_list a:hover {
	border-bottom: 2px solid red;
}

.social {
	float: right;
	list-style: none;
}
.social li {
	margin-left: 15px;
	float: left;	
}

.social_item {
	background-image: url('../img/sprey.png');
	width: 30px;
	height: 30px;
	display: block;
	border: none;	
}

.logo-1 {
	background-position: 90px 0;
}
.logo-2 {
	background-position: 60px 0;
}
.logo-3 {
	background-position: 30px 0;
}

.logo-1:hover {
	background-position: 90px 90px;
}

.logo-2:hover {
	background-position: 60px 30px;
}

.logo-3:hover {
	background-position: 30px 30px;
}
.content {
	margin: 0 -10px;
}

.content_title {
	padding-left: 10px;
	font-size: 19px;
	font-weight: bold;
	font-style: italic;
	text-align: left;
}

.content_list {
	margin-bottom: 30px;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.content_list_item {
	margin-top: 25px;
	box-sizing: border-box;
	padding: 0 10px;
	font-size: 15px;
	width: 33.333%;
	float: left;
}

.content_list_item img {
	margin-bottom: 10px;
	max-width: 100%;
}

.content_list_item p {
	letter-spacing: 0px;
	padding-right: 5px;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	
}

.intro {
	font-style: 'Tahoma' sans-serif;
	margin: 0 -10px;
}

.intro-1{
	margin: 25px 0 25px 0;
	text-align: center;
	font-size: 18px;
	font-style: italic;
}

.intro-1-img{
	padding-left: 10px;
	width: 960px;
}

.intro_list {
	border: none;
	margin-top: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	width: 33.333%;
	float: left;
}

.intro_list ul {
	list-style: none;
}

.intro_list p {
	line-height: 20px;
	font-size: 12px;
	color: black;
}

.intro-list-column{
	display: inline-block;
}

.item-right{
	margin-left: 70px;
}

.intro_item a {
	font-weight: bold;
	color: black;
	font-style: italic;
	text-decoration: none;
	font-size: 11px;
}

.intro_item a:hover {
	color: red;
}

.intro_item , .intro_item {
	padding: 0 0 15px 0;
}

.intro_title {
	color: black;
	padding: 15px 0;
	margin-bottom: 15px;
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2; 
	font-weight: bold;
	font-size: 12px;
}

.clear::after {
	content: '';
	display: table;
	clear: both;
}