body {
	font-family: 'Verdana', sans-serif; 
	font-size: 12px;
}
.wrap {
	max-width: 340px;
	border: none;
	background-color: #d3d3d3;			
}
.todo-list {
	font-weight: bold;
	padding-bottom: 35px;	
}
.todo h1 {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 25px 0 0 0;	
}
.todo li {
	padding: 0 0 12px 0;
}
.todo a {
	color: #003b8c;
}
.todo a:hover {
	color: #ac0000;
}