body {
/* 	background-color: #000000;
	background-image: url('../img/apple1.jpg');
	background-repeat: no-repeat;
	background-position: 100px top;
	background-attachment: fixed; */

	/* background: #000000 url('../img/apple1.jpg') no-repeat 100px top fixed; */

	color: red;

	background-color: #000000;
	background: url('../img/apple1.jpg') no-repeat 100px top,
				url('../img/apple1.jpg') no-repeat right top;
}



/* .box {
	background-color: #000000;
	width: 600px;
	height: 600px;
	background-image: url('../img/apple1.jpg');	
		background-repeat: no-repeat;
	background-position: 100px top;
} */