* {
	margin: 0;
	padding: 0;
}
/* .box {
	background-color: red;
	height: 300px;
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

.box2 {
	height: 400px;
}

.box3 {
	height: 500px;
} */


.parent-box4 {
	font-size: 0;
}
.box4 {
	font-size: 18px;
	width: 25%;
	height: 300px;
	background-color: blue;
	display: inline-block;
	border:  5px solid red;
	box-sizing: border-box;
}

.box42 {
	height: 350px;
}