* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Tahoma", sans-serif;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 15px;
}
.clearfix::after {
	clear: both;
	content: '';
	display: table;
}
/*--------------------*/
.about {
	background-color: lightgray;
	padding: 20px;
	margin-bottom: 40px;
}

.about-title {
	text-align: center;
	font-size: 36px;
	padding-bottom: 20px;
}
.img-left {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}
.img-right {
	float: right;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.about-text p {
	padding-bottom: 15px;
}
/*--------------------*/

.products {
	margin-bottom: 40px;
}
.products-title {
	font-size: 32px;
	text-align: center;
	padding-bottom: 20px;
}
.products-list {
	list-style: none;
}
.products-item {
	border: 5px solid grey;
	text-align: center;
	float: left;
	width: 33.3333%;
	box-sizing: border-box;
	padding-bottom: 5px;
}
.products-item img {
	max-width: 100%;
}
.products-item-title {
	font-size: 18px;
}

/*--------------------*/

.partners {
	margin-bottom: 40px;
}

.partners-title {
	font-size: 32px;
	text-align: center;
	padding-bottom: 20px;
}

.partners-list {
	list-style: none;
	margin: 0 -15px;
}

.partners-item {
	width: 33.333%;
	float: left;
	box-sizing: border-box;
	padding: 0 15px;
}
.partners-item-article {
	border:  5px solid gray;
	background-color: #000;
	text-align: center;
}
.partners-item-title {
	color: #ffffff;
}
/*--------------------*/
.info {
	margin-bottom: 20px;
}
.info-title {
	font-size: 24px;
	text-align: center;
	padding-bottom: 20px;
}
.info-menu {
	list-style: none;
	width: 200px;
	float: right;
}
.info-menu li {
	border-bottom: 2px solid gray;
}
.info-menu a {
	background-color: blue;
	color: #fff;
	display: block;
	padding: 10px;
}
.info-text {
	padding-right: 220px;
}


/*--------------------*/

.footer {
	background-color: gray;
	padding: 20px 0;
}

.footer-menu {
	float: left;
	list-style: none;
	padding-top: 15px;
}

.footer-menu li {
	float: left;
	padding-right: 15px;
}

.footer-menu a {
	color: #fff;
}

.social {
	float: right;
	list-style: none;
	font-size: 0;
}

.social li {
	display: inline-block;
	padding-left: 15px;
}
.social-item {
	width: 50px;
	height: 50px;
	display: block;
	background-image: url('../img/social.png');	
}
.social-fb {
	background-position: -141px 0;
}
.social-vk {
	background-position: 0 0;
}
.social-tw {
	background-position: -211px -70px;
}