body {
    background: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#container {
    background: white;
    padding: 40px;
    width: 800px;
    margin: 2% auto;
    display: block;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    resize: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

button:disabled {
    opacity: 0.8;
}

button:hover {
    opacity: 0.8;
}

.post {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.post.active {
    background-color:rgba(51,255,153,0.1);
}

i {
    font-size: 14px;

}

.like {
    cursor: pointer;
    width: 30px;
}
.like.active {
    border: 2px solid red;
    border-radius: 50%;
}
