body {
	font-family: "Verdana", sans-serif;
	color: #175700;
	font-size: 12px;
	background-color: #f0f0f0;
}
.wrap {
	max-width: 767px;
	margin: 0 auto;
}
.wrap h1 {
	text-align: center;
	padding: 20px 0 20px 0;
}
.wrap img {
	vertical-align: middle;
}
.wrap p {
	font-size: 16px;
	color: black;
	line-height: 22px;
}
#link {
	color: #0188aa;
}
#link:hover {
	text-decoration: none;
	color: #670000;
}