/*стили для всей страницы*/
body {
	font-family: 'Tahoma', sans-serif;
	color: #2a2a2a;
	font-style: normal;
	font-size: 15px;
	line-height: 25px;
	text-align: justify;
	text-indent: 30px; 
}
/*стили для блока с классом wrap*/
.wrap {
	max-width: 960px;
}
/*стили для первого заголовка */
.zag1{
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	font-weight: normal;
	color: black;
	padding: 10px 0 10px; 
}
/*стили для элементов span обьекта article */
.blog-post span {
	font-weight: bold;
}
/*стили для элемента span c идентификатором span*/
#span{
	font-weight: normal;
	text-decoration: underline;
}
/*стили для элемента blockquote*/
.block{
	color: blue;
	font-size: 22px;
	font-weight: normal;
	text-indent: 0px;
	text-align: left;
}
/*стили для параграфа с классом par1*/
.par1{
	font-style: italic;
}
