*{
	margin: 0;
	padding: 0;
}
body{
	padding: 40px 0;
}
.wrap{
	background-color: white;
	font-family: 'Open sans' sans-serif;
	margin: 0 auto;
	padding: 1px 140px;
	width: 1300px;
	box-sizing: border-box;
}
.wrapper{
	width: 1020px;
	margin: 0 auto;
	box-sizing: border-box;
}
.header-wrap{
	margin: 25px auto 30px auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.header-wrap img{
	width: 211px;
	height: 36px;
	align-items:center;
}
.nav_menu ul{
	display: flex;
	margin-left: 20px;
	box-sizing: border-box;
	font-size: 13px;
	padding: 10px 0 0 0;
	display: flex;
	list-style: none;
	justify-content: space-between;
}
.nav_menu li{
	padding-left: 20px; 
	margin: auto 0;
}
.nav_menu a{
	font-weight: bold;
	color: rgba(102,102,102,0.67);
	text-decoration: none;
}
.login{
	background:#bcda5c;
  	font-size: 13px;
  	color: rgba(255, 255, 255, 0.812);
  	text-align: center;
  	border: none;
	border-radius: 20px;
	padding: 10px 20px;
}
.content{
	position: relative;
	box-sizing: border-box;
	display: flex;
}
.tovar{
	max-width: 300px;
	box-sizing: border-box;
	background-color: #f9f9f9;
	margin: 0 auto;
}

.position{
	box-sizing: border-box;
	position: relative;
	width: 300px;
	height: 226px;
}
.tovar-img img{
	width: inherit;	
	height: inherit; 
}
/*
.tovar-img-1{
	background-image: url(../img/tov_img1.png); 	
}
.tovar-img-2{
	background-image: url(../img/tov_img2.png); 
}
.tovar-img-3{
	background-image: url(../img/tov_img3.png); 
}
*/
.tov-wrap{
	max-width: 100%;
	box-sizing: border-box;
	padding: 30px 25px 30px 25px;
	margin-top: 0px;
	border: 1px solid rgba(0,0,0,0.14);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	border-top: none;
}
.content_tovar{
	width: 100%;
	box-sizing: border-box;
	font-weight: bold;
}
.content_title{
	color: rgba(72,72,72);
	font-size: 17px;
}
.content_par{
	line-height: 20px;
	color: rgba(72,72,72,0.71);
	padding: 20px 0;
	padding-left: 2px;
	font-weight: normal;
}
.scroll{
	margin-bottom: 25px;
	background-color: #e3e3e3;
	height: 15px;
	border-radius: 8px;
}
.progress{
	background-repeat: no-repeat;
	background-color: green;
	width: 250px;
	height: 100%;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
}
.child_1{
	width: 10%;
}
.child_2{
	width: 60%;
}
.child_3{
	width: 10%;
}
.block-1{
  	font-size: 15px;
  	font-weight: bold;
  	color: rgba(72, 72, 72, 0.851);
  	line-height: 1.2;
  	text-align: center;
  	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 25px;
}
.new{
	z-index: 2;
	background-repeat: no-repeat;
	background-image: url(../img/new_tov.png);
	width:74px;
	height:74px;
	position: absolute;
}
.tovar_GBP{
	font-weight: bold;
	padding: 0 9px;
	width: auto;
	height:37px; 
	border: none;
	border-radius: 5px;
	position: absolute;
	bottom: 21px;
	right: 15px;
	background-color: #26a6d1;
  	font-size: 19px;
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	text-align: center;
}
.tovar_GBP span{
	font-weight: normal;
}
.details{
	box-sizing: border-box;
	display: flex;
	font-weight: bold;
  	font-size: 15px;
  	line-height: 1.2;
  	text-align: center;
 	max-width: 100%;
	justify-content: flex-end;
}
.details_link{
	display: flex;
	align-items: center;
	color: rgba(72, 72, 72, 0.851);
	text-decoration: none;
}
.details_link::after{
	margin-left:10px;
	box-sizing: border-box;
	content: '';
	border-left:10px solid #add136;
	border-right: 10px solid transparent;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;  
}
