* {
	margin: 0;
	padding: 0;
}

body {
	background-color: none;
	font-family: 'Tahoma', sans-serif;
	margin: 0 15px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	
}

.header {

}

.main{

}

.about {
	background-color: lightgrey;
	padding: 20px;
}

.about_title {
	text-align: center;
	font-size: 36px;
	padding-bottom: 20px;
}

.img_left {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}

.img_right {
	float: right;
	padding-left: 20px;
	padding-top: 20px;
}

.about_text p {
	padding-bottom: 15px;
}

.products {
	margin-top: 40px;
}

.products_title {
	padding-bottom: 20px;
	font-size: 32px;
	text-align: center;
}

.products_list {
	list-style: none;
}

.products_item {
	padding-bottom: 5px;
	border: 5px solid grey;
	text-align: center;
	float: left;
	width: 33.333%;
	box-sizing: border-box;
}

.products_item img {
	max-width: 100%;
}

.products_item_title {
	font-size: 18px; 
}

.partners {

}

.partners_title {
	padding-bottom: 20px;
	font-size: 32px;
	text-align: center;
}

.partners_list {
	list-style: none;
	margin: 0 -15px;
}

.partners_item {
	width: 33.333%;
	float: left;
	box-sizing: border-box;
	padding: 0 15px;
}

.partners_item_title {
	color: white;
}

.partners_item_article {
	border: 5px solid grey;
	text-align: center;
	background-color: black;
}

.info {

}

.info_text{
	padding-right: 220px;
}

.info_title {
	font-size: 24px;
	text-align: center;
	padding-bottom: 20px;
}

.info_menu {
	list-style: none;
	width: 200px;
	float: right;
}

.info_menu_item {
	border-bottom: 2px solid grey;

}

.info_menu a {
	background-color: blue;
	color: white;
	display: block;
	padding: 10px;
}

.footer_menu{
	padding-top: 15px;
	float: left;
	list-style: none;
}

.footer_menu li{
	float: left;
	padding-right: 15px;
}

.footer_menu a{
	color: white;
}

.social{
	font-size: 0;
	float: right;
	list-style: none;
}

.about_title {

}

.about_text {

}

.clear::after {
	content: '';
	display: table;
	clear: both;
}

.footer{
	padding: 20px 0;
	background-color: gray;
}

.social li{
	display: inline-block;
	padding-left: 10px;
}

.social_item{
	width: 50px;
	height: 50px;
	display: block;
	background-image: url('../img/social.png');
}

.social_fb {

}	

.social_vk {
	background-position: -141px 0;
}

.social_tv {
	background-position: -211px -70px;
}


