*{
	margin: 0;
	padding: 0;
}

body {
	font-family: "Tahoma", sans-serif;
	font-size: 14px;
}
:focus {
	outline-color: lightblue;
}
.wrap {
	max-width: 360px;
	margin: 30px auto;
}
.your-form fieldset {
	padding: 15px 30px 30px 30px;
	margin-bottom: 10px;
}
.your-form input,
.count_night {
	border-radius: 0;
	border: 1px solid #e2e2e2;
	padding: 5px 10px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.your-form input:hover {
	border-radius: 2px;
	border: 2px solid lightblue;
}
.your-form label {
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
}
textarea {
	padding:10px 10px;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 25px;
	border: 1px solid #e2e2e2;
}
.butt {
	font-size:16px ;
	color: white;
	background-color: green;
	padding: 7px 20px 8px 20px;
	border-radius: 1px;
	border: none;
}
.reset {
	background-color: red;
}
.children label,
.stars label {
	padding-bottom: 10px;
	font-weight: normal;
}

input[name="children"],
input[type="checkbox"] {
	margin: 0 5px 0 0;
	width: auto;
	box-sizing: border-box;
	float:left;
}
.step {
	display: flex;
}
div.step label {
	font-weight: normal;
	margin: 0;
	padding: 0;
	align-items: center;
}
div.step input {
	width: 50%;
	margin: 0;
	padding: 0;
	margin: 0 5px;
}
.politicy_link {
	color: blue;
}

.clear::after {
	content: '';
	display: table;
	clear: both;
}