* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
}

.wrap {
	margin: 0 auto;
	max-width: 900px;	
}

.box-1 {
	border-top: 10px solid red;
	border-right: 10px solid green ;
	border-left: 10px solid yellow;
	border-bottom: 20px solid black;
	padding: 60px; 
	margin-bottom: 30px;
}

.box-2 {
	border: 5px solid green;
	border-right: 5px dotted green;
	margin-bottom: 55px ;
	padding: 20px 40px 20px 20px;
}

.box-3 {
	border: 15px solid blue;
	padding: 40px;
}

.box-3__text {
	margin-bottom: 35px;
}

.box-3__insert {
	width: 100%;
	box-sizing: border-box;
	background-color: pink;
	padding: 35px 30px 30px 30px;
	border-top: 5px dashed red;
}
