*{
	padding: 0;
	margin: 0;
}
body {
	font-family: Verdana, sans-serif;
}

.table{
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 10%;
}

/*Стили для заголовков таблицы*/

.table thead{
    border: 1px solid black;
}

/*Стиль для элемента заголовка таблицы
с классом th_1*/

.table .th_1{
	font-size: 15px;
	padding: 0 45px;
}

/*Стиль для элемента заголовка таблицы 
с классом th_2*/

.table .th_2{
	color:blue;
	padding: 11px 0;
}

/*Общий стиль для всех заголовков таблицы*/

.table th{
	border: 1px solid black;
	font-size: 11px;
	padding: 7px 10px; 
}

/*Стили для ячеек tbody*/

.table td{
	border: 1px solid #f0f0f0;
	font-size: 11px;
	padding: 7px 0px 7px 10px;
}

/* Блок стилей для оценок*/

.green{
	
	color: green;
}

.blue{
	color: blue;
}

.red{
	color: red;
}

.black{

	color: black;
}

.row2, .row4{
	background-color: yellow;
}

/*-------------------------------*/
/*Стили для подвала таблицы*/

.table tfoot td {
	border: none;
	text-align: right;
	font-size: 12px;
	padding: 10px 0 0 0;
}