* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #cccccc;
	font-family: 'Tahoma', sans-serif;
}
/*используйте селекторы по классу и вложенные селекторы*/

.header {
	width: 100%;
	background-color: rgba(240,128,128);
	padding: 40px;
	box-sizing: border-box;	
}

.header_wrap {
	border: none;
	max-width: 960px;
	margin: 0 auto;

}

.wrap {
	max-width: 960px;
	margin: 0 auto;
	border: none;
	background-color: white;
}

.header_wrap h1 {
	font-size: 35px;
	text-align: center;
	color: white;
	margin-bottom: 30px;
}

.header_wrap p {
	color: white;
	font-size: 20px;
}

.block_model {
	padding: 55px 50px 45px 50px;
}

.block_model div {
	
}

.block_model_h2 {
	text-align: center;
	box-sizing: border-box;
	padding: 0 130px 0 130px;
	margin-bottom: 35px;
}

.menu_item {
	float: left;
	font-size: 14px;
	background: #d0fbff;
	padding: 5px 10px 5px 10px;
	margin: 5px 10px 5px 0;
	border: none;
	border-radius: 2px;
}

.item_1 {
	color: #ffffff ;
	background-color:#e2e2e2 ;
}

.block_model_div {
	font-size: 15px;
	background-color: #f7f7f7;
	padding: 30px 55px 30px 55px;
	border: 1px solid #e2e2e2;
	margin-top: 5px;
	margin-bottom: 25px;
}

.block_model_p {
	line-height: 30px;
	font-size: 18px;
}

.partners_wrap {
	
}

.partners {
	padding-top: 40px;
	background-color: #b8ff84;
	text-align: center;
}

.partners h2 {
	font-size: 19px;
}

.box_1 {
	float: left;
	text-align: center;
	margin: 30px 55px 30px 115px;	
}

.box_1 p {
	padding: 10px 0 10px 0;
}

.clear::after {
	content: '';
	display: block;
	clear: both;
}

.list {
	margin: 0 auto;
	max-width: 960px;
	border: none;
}

footer {
	padding: 30px 0 30px 0;
	background-color: orange;
	width: 100%
}

.ul_list {
	list-style-type: none;
}

.list_item {
	border: none;
	margin-right: 15px;
	float: left;
}




